/* Common styles */

* {
  box-sizing: border-box;
  font-family: verdana;
}

a {
  text-decoration: none;
}

#title {
  font-size: 50px;
  color: black;
  text-align: center;
}

.banner{
  position: relative;
  left:10px;
}

@media only screen and (min-width: 600px) {
/* Styles for larger screens */
}

@media only screen and (max-width: 600px) {
/* Styles for smaller screens */
}
